@font-face {
	font-family: 'generaalt_light';
	src: url(../fonts/wahyu_and_sani_co._-_genera_alt_light.html) format('woff2'),
	url(../fonts/wahyu_and_sani_co._-_genera_alt_light-2.html) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}