@font-face {
	font-family: 'generasemibold';
	src: url(../fonts/wahyu_and_sani_co._-_genera_semibold.html) format('woff2'),
	url(../fonts/wahyu_and_sani_co._-_genera_semibold-2.html) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}