.laporankebanklain-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  background-image: url("../images/img_default_blue_1.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.laporankebanklain-container1 {
  width: 100%;
  height: 704px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-size: 100% 100%;
  background-image: url("../index_2.html");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.laporankebanklain-container2 {
  top: 11px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 91px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.laporankebanklain-image {
  left: 0px;
  right: 0px;
  width: 200px;
  bottom: 28px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.laporankebanklain-image1 {
  top: 11px;
  right: 21px;
  width: 38px;
  height: 36px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.laporankebanklain-icon {
  top: 11px;
  left: 19px;
  width: 40px;
  height: 38px;
  position: absolute;
}
.laporankebanklain-container3 {
  top: 140px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 349px;
  height: 557px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.laporankebanklain-image2 {
  top: -25px;
  left: 0px;
  right: 0px;
  width: 343px;
  height: 210px;
  margin: auto;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #363434;
  object-fit: cover;
  border-radius: 10px;
  border: 1.5px solid yellow;
}
.laporankebanklain-form {
  left: 0px;
  right: 0px;
  width: 327px;
  bottom: 1px;
  height: 313px;
  margin: auto;
  display: flex;
  position: absolute;
}
.laporankebanklain-textinput {
  top: 11px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom-width: 1px;
  padding-left: 3px;
  outline: none;
}
.laporankebanklain-textinput1 {
  top: 72px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom-width: 1px;
  padding-left: 3px;
  outline: none;
}
.laporankebanklain-textinput2 {
  top: 130px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom-width: 1px;
  padding-left: 3px;
  outline: none;
}
.laporankebanklain-button {
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  bottom: 3px;
  height: 51px;
  margin: auto;
  position: absolute;
  box-shadow: rgb(82, 81, 81) 5px 5px 10px 0px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  border-radius: 10px;
  background-image: linear-gradient(90deg, rgb(234, 168, 3) 1%, rgb(241, 246, 4) 100%);
}
